<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>关于我_个人博客模板</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/base.css" rel="stylesheet">
<link href="static/css/m.css" rel="stylesheet">
<!-- <script src="static/js/jquery-1.8.3.min.js" ></script>
<script src="static/js/comm.js"></script> -->
<!--[if lt IE 9]>
<script src="static/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<!--top begin-->
<header id="header">
  <div class="navbox">
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <div class="logo"><a href="/">秀站个人博客</a></div>
    <nav>
      <ul id="starlist">
        <li><a href="/">首页</a></li>
        <li><a href="/gerenboke/" >个人博客</a></li>
        <li><a href="/gongzuoriji/" >工作日记</a></li>
        <li class="menu"><a href="/wangzhanmoban/" >网站模板</a>
          <ul class="sub">
            <li><a href="/bokemoban/">博客模板</a></li><li><a href="/wangzhanmoban/zhimengCMSmoban/">织梦CMS模板</a></li><li><a href="/wangzhanmoban/diguoCMSmoban/">帝国CMS模板</a></li>
          </ul>
          <span></span></li>
        <li class="menu"><a href="/qianduanjishu/" >前端技术</a>
          <ul class="sub">
            <li><a href="/qianduanjishu/chengxurensheng/">程序人生</a></li><li><a href="/qianduanjishu/CSS3_HTML5/">CSS3|HTML5</a></li><li><a href="/qianduanjishu/SEOjiaocheng/">SEO教程</a></li><li><a href="/qianduanjishu/wangluoyingxiao/">网络营销</a></li>
          </ul>
          <span></span></li>
        <li><a href="/youxiukuzhan/" >优秀酷站</a></li>
        <li><a href="/about/" >关于我</a></li>
      </ul>
    </nav>
    <div class="searchico"></div>
  </div>
</header>
<div class="searchbox">
  <div class="search">
    <form action="/plus/search.php" method="post" name="searchform" id="searchform">
      <input type="hidden" name="kwtype" value="0" />
      <input name="q" type="text"  class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onFocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onBlur="if(value==''){this.style.color='#999';value='请输入关键字词'}">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="searchclose"></div>
</div>
<article>
  <div class="whitebg about">
    <div class="ab_box"> <i class="avatar_pic"><img src="static/picture/avatar.jpg"></i>
      <h3>叶青</h3>
      <p>7年专注研究SEO各种技巧，希望能结识SEO界的各路牛鬼蛇神。</p>
      <p>技术无止境，一山更有一山高，愿向各路人讨教与探讨SEO技巧。</p>
    </div>
    <h2 class="gd_title">内心独白</h2>
    <p class="ab_dubai">7年专注研究SEO各种技巧，希望能结识SEO界的各路牛鬼蛇神，技术无止境，一山更有一山高，愿向各路人讨教与探讨SEO技巧，微信公众号：xiuzhanwang。<br />
<br />
<p style="margin: 0px 0px 20px; padding: 0px;">
	本人，90后，三无&quot;小青年&quot;，哦不，其实已经在奔向中年的道路上越走越远了~（其实我还很年轻哦！）</p>
<p style="margin: 0px 0px 20px; padding: 0px;">
	额咳，这些都是可以忽略的，咱们还是聊聊理想吧，为了远大航程！(有理想哦，我喜欢！)</p>
<p style="margin: 0px 0px 20px; padding: 0px;">
	曾经梦想当一名作家，书剑恩仇，快意人生：写武侠呢，就行侠仗义,笑傲江湖；写仙侠呢，就斩妖除魔，御剑天下；写穿越吧，就架空历史，定鼎江山；写金融吧，就零和博弈，股海沉浮；写机甲嘛，就机破苍穹，遨游星空....（啊哈，这碗大杂烩肯定很好喝~）</p>
<p style="margin: 0px 0px 20px; padding: 0px;">
	也曾想过，要不就开个小书店，偶尔看看书，喝喝茶，浇浇花，除除草，哼个小曲什么的，再养一猫一狗，添点生气儿，好不自在撒!（悠闲滴小生活啊！）</p>
<p style="margin: 0px 0px 20px; padding: 0px;">
	但当昨日的梦想被今天的现实打的支离破碎的时候，无奈之下，只能来个多线程，然后一不小心入了IT的坑，从此起早贪黑，早出晚归。踉踉跄跄，磕磕绊绊，也走过了两三年时光。</p>
<p style="margin: 0px 0px 20px; padding: 0px;">
	从最初的一个单词一个单词的敲击，到现在每日上百上千代码的输出，也算是一个不小的成长。无论是从最基本的后台管理开始编程，还是到电商系统开发，再到对大数据的向往，以及对聊天直播类的兴趣，都一路坚持。语言呢，也从PHP开始，以点带线，向Linux运维及Python爬虫方面做延伸扩展。虽然生活很充实，但总感觉缺少了些什么？！</p>
<p style="margin: 0px 0px 20px; padding: 0px;">
	啊！时间一晃而过，转眼已然年纪不小。留下的记忆呢，感觉却是少之又少。也许是习惯了每天早七晚十二的生活规律，以至于脚步太匆忙，都来不及停下看看路边的风景，感觉错过了太多，青春都一去不复返了！</p>
<p style="margin: 0px 0px 20px; padding: 0px;">
	这也成了创建此博客的初衷：多记录些东西，保留些记忆，待回首时，不至于因为记忆单调空白而遗憾！</p>
<ul style="margin: 0px; padding-right: 0px; padding-left: 0px; list-style: none; width: 710px; color: rgb(105, 105, 105); font-family: 宋体, Arial, Helvetica, sans-serif;">
</ul>
<br />
<br />
</p>
    <h2 class="gd_title">我的博客</h2>
    <ul class="myblog">
      <li><b>创建时间</b>
        <p>2016年01月12日</p>
        <p><a href="/" target="_blank" class="buttons">主页</a></p>
      </li>
      <li><b>主题模板</b>
        <p><a href="/" target="_blank">《今夕何夕》</a></p>
        <p><a href="/" class="buttons">下载</a></p>
      </li>
      <li><b>网站程序</b>
        <p>织梦CMS5.7</p>
        <p><a href="http://www.dedecms.com" target="_blank" class="buttons">下载</a></p>
      </li>
      <li><b>服务器商</b>
        <p>阿里云服务器</p>
        <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=3g0dcr18" target="_blank" class="buttons">1888代金券领取</a></li>
      <li><b>免费空间</b>
        <p><a  href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=3g0dcr18" target="_blank">虚拟主机</a></p>
        <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=3g0dcr18" target="_blank" class="buttons">国内主机免费领</a></li>
    </ul>
    <h2 class="gd_title">加入我们</h2>
    <ul class="qq_join">
      <li>
        <section><img src="static/picture/qq1.png">
          <p>网页设计交流吧①</p>
          <p>QQ群号：12345678</p>
        </section>
      </li>
      <li>
        <section><img src="static/picture/qq2.png">
          <p>网页设计交流吧②</p>
          <p>QQ群号：12345678</p>
        </section>
      </li>
      <li>
        <section><img src="static/picture/joinwx.png">
          <p>关注官方<b>微信</b>公众号</p>
          <p>掌握最新的模板信息！</p>
        </section>
      </li>
      <li>
        <section><img src="static/picture/joinwxqun.png">
          <p>网页设计交流<b>微信群</b></p>
          <p>目前只接受群主拉进群</p>
        </section>
      </li>
    </ul>
  </div>
</article>
<footer>
  <div class="box">
    <div class="wxbox">
      <ul>
        <li><img src="static/picture/wxgzh.jpg"><span>微信公众号</span></li>
        <li><img src="static/picture/wx.png"><span>我的微信</span></li>
      </ul>
    </div>
    <div class="endnav">
      <p><b>站点声明：</b></p>
      <p>1、本站个人博客模板，均为叶清本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
      <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=2361928288@qq.com" target="_blank">2361928288@qq.com</a></p>
      <p>Copyright © 个人博客网站模板 All Rights Reserved. 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP09090899号</a></p>
    </div>
  </div>
  <a href="#">
  <div class="top"></div>
  </a>
</footer>
</body>
</html>
