<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>工作日记_个人博客模板</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/base.css" rel="stylesheet">
<link href="static/css/m.css" rel="stylesheet">
<!-- <script src="static/js/jquery-1.8.3.min.js" ></script>
<script src="static/js/comm.js"></script> -->
<!--[if lt IE 9]>
<script src="static/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<!--top begin-->
<header id="header">
  <div class="navbox">
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <div class="logo"><a href="/">秀站个人博客</a></div>
    <nav>
      <ul id="starlist">
        <li><a href="/">首页</a></li>
        <li><a href="/gerenboke/" >个人博客</a></li>
        <li><a href="/gongzuoriji/" >工作日记</a></li>
        <li class="menu"><a href="/wangzhanmoban/" >网站模板</a>
          <ul class="sub">
            <li><a href="/bokemoban/">博客模板</a></li><li><a href="/wangzhanmoban/zhimengCMSmoban/">织梦CMS模板</a></li><li><a href="/wangzhanmoban/diguoCMSmoban/">帝国CMS模板</a></li>
          </ul>
          <span></span></li>
        <li class="menu"><a href="/qianduanjishu/" >前端技术</a>
          <ul class="sub">
            <li><a href="/qianduanjishu/chengxurensheng/">程序人生</a></li><li><a href="/qianduanjishu/CSS3_HTML5/">CSS3|HTML5</a></li><li><a href="/qianduanjishu/SEOjiaocheng/">SEO教程</a></li><li><a href="/qianduanjishu/wangluoyingxiao/">网络营销</a></li>
          </ul>
          <span></span></li>
        <li><a href="/youxiukuzhan/" >优秀酷站</a></li>
        <li><a href="/about/" >关于我</a></li>
      </ul>
    </nav>
    <div class="searchico"></div>
  </div>
</header>
<div class="searchbox">
  <div class="search">
    <form action="/plus/search.php" method="post" name="searchform" id="searchform">
      <input type="hidden" name="kwtype" value="0" />
      <input name="q" type="text"  class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onFocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onBlur="if(value==''){this.style.color='#999';value='请输入关键字词'}">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="searchclose"></div>
</div>
<article> 
  <!--lbox begin-->
  <div class="lbox">
    <div class="whitebg lanmu">
      <h1>工作日记</h1>
      <p><div>
	<div>
		<p>
			个人博客日记，记录一些优秀个人站长是如何制作个人博客，建个人博客、以及经营个人网站的，本站还会推荐一些优秀的个人博客站长网站。</p>
	</div>
	<div>
		&nbsp;</div>
</div>
<br />
</p>
    </div>
    <div class="whitebg bloglist">
      <h2 class="htitle"><span class="hnav"></span>工作日记</h2>
      <ul>
        <li>
          <h3 class="blogtitle"><a href="/gongzuoriji/8.html" title="我走过最远的路就是余额宝体验金的套路" >我走过最远的路就是余额宝体验金的套路</a></h3>
          
          <p class="blogtext">自从独宠一人的锦鲤活动横空出世，大家几乎就已经忘了还有雨露均沾的大众营销活动了。哪怕余额宝送体验金活动打出了百万的噱头，也已经不能挑动太多人的热情了。 一方面，经过... </p>
          <p class="bloginfo"><i class="avatar"><img src="static/picture/avatar.jpg"></i><span>admin</span><span>2019-02-21</span><span>125次</span></p>
          <a href="/gongzuoriji/8.html" title="我走过最远的路就是余额宝体验金的套路" class="viewmore">阅读更多</a> </li><li>
          <h3 class="blogtitle"><a href="/gongzuoriji/10.html" title="上千家网贷平台“主动清盘”，原因已被确认，" >上千家网贷平台“主动清盘”，原因已被确认，</a></h3>
          
          <p class="blogtext">近期宜贷网宣布清盘退出，闹的沸沸扬扬，不少投资者对此议论纷纷，自去年监管对P2P网贷的严查，备案合规要求的落地实施，网贷行业迎来了寒冬，不少平台举步维艰，纷纷主动退出... </p>
          <p class="bloginfo"><i class="avatar"><img src="static/picture/avatar.jpg"></i><span>admin</span><span>2019-02-21</span><span>198次</span></p>
          <a href="/gongzuoriji/10.html" title="上千家网贷平台“主动清盘”，原因已被确认，" class="viewmore">阅读更多</a> </li><li>
          <h3 class="blogtitle"><a href="/gongzuoriji/13.html" title="“运动健将”田宁和他的盘石潇洒领跑新经济赛" >“运动健将”田宁和他的盘石潇洒领跑新经济赛</a></h3>
          
          <p class="blogtext">每天坚持晨跑5公里的田宁，从浙大出发，已经跑过了19年 ​2018年10月7日，盘石在浙江大学举办了自己的第十二届运动会。在母校的体育场上，作为盘石的董事长兼CEO，田宁在十余个比... </p>
          <p class="bloginfo"><i class="avatar"><img src="static/picture/avatar.jpg"></i><span>admin</span><span>2019-02-21</span><span>95次</span></p>
          <a href="/gongzuoriji/13.html" title="“运动健将”田宁和他的盘石潇洒领跑新经济赛" class="viewmore">阅读更多</a> </li><li>
          <h3 class="blogtitle"><a href="/gongzuoriji/12.html" title="马蜂窝被“捅”背后：互联网江湖的原罪和暗战" >马蜂窝被“捅”背后：互联网江湖的原罪和暗战</a></h3>
          
          <p class="blogtext">比起马蜂窝是否充斥水军这件事，更值得关注的应该还是点评内容搬运这事本身 ​刚刚过去的周末，并不宁静。 起因是微信上有一篇《估值175亿的马蜂窝，竟是一座僵尸和水军构成的... </p>
          <p class="bloginfo"><i class="avatar"><img src="static/picture/avatar.jpg"></i><span>admin</span><span>2019-02-21</span><span>188次</span></p>
          <a href="/gongzuoriji/12.html" title="马蜂窝被“捅”背后：互联网江湖的原罪和暗战" class="viewmore">阅读更多</a> </li><li>
          <h3 class="blogtitle"><a href="/gongzuoriji/11.html" title="ofo变更法人，共享单车真到了洗牌的时候了" >ofo变更法人，共享单车真到了洗牌的时候了</a></h3>
          
          <p class="blogtext">10月22日，ofo传出了最新的消息，ofo的创始人戴威将不再担任ofo运营主体东峡大通(北京)管理咨询有限公司的法人代表，同时也退出了公司的董事会，取而代之的是陈正江。虽然在公司的... </p>
          <p class="bloginfo"><i class="avatar"><img src="static/picture/avatar.jpg"></i><span>admin</span><span>2019-02-21</span><span>186次</span></p>
          <a href="/gongzuoriji/11.html" title="ofo变更法人，共享单车真到了洗牌的时候了" class="viewmore">阅读更多</a> </li><li>
          <h3 class="blogtitle"><a href="/gongzuoriji/9.html" title="春节将至，诈骗又出新花招，“扫一扫”会丢钱" >春节将至，诈骗又出新花招，“扫一扫”会丢钱</a></h3>
          
          <p class="blogtext">尤其是农村的大娘大叔们，对法律意识单薄，也不懂新型的诈骗方式，上当受骗的很多，今天小编就为大家伙说一件前几天一亲戚被骗的经过，希望以后碰上这样的诈骗伎俩能有个防范... </p>
          <p class="bloginfo"><i class="avatar"><img src="static/picture/avatar.jpg"></i><span>admin</span><span>2019-02-21</span><span>133次</span></p>
          <a href="/gongzuoriji/9.html" title="春节将至，诈骗又出新花招，“扫一扫”会丢钱" class="viewmore">阅读更多</a> </li><li>
          <h3 class="blogtitle"><a href="/gongzuoriji/7.html" title="美团外卖乱局：商家不断退出，消费者吃贵价食" >美团外卖乱局：商家不断退出，消费者吃贵价食</a></h3>
          
          <p class="blogtext">你有没有过这样的体验：同一家餐馆同一个菜，美团下单30元，直接去到店面吃才25元，而且分量还更大。还有网友反映见过很多门面脏乱不堪的快餐门店在专门做美团。 虽然提佣的平... </p>
          <p class="bloginfo"><i class="avatar"><img src="static/picture/avatar.jpg"></i><span>admin</span><span>2019-02-21</span><span>71次</span></p>
          <a href="/gongzuoriji/7.html" title="美团外卖乱局：商家不断退出，消费者吃贵价食" class="viewmore">阅读更多</a> </li>
      </ul>
    </div>
   <!--pagelist-->
   <div class="pagelist whitebg"><ul><li><span class="pageinfo">共 <strong>1</strong>页<strong>7</strong>条记录</span></li>
</ul></div>
  </div>
  <div class="rbox">
    <div class="whitebg paihang">
      <h2 class="htitle">点击排行</h2>
      
      <ul>
        <li><i></i><a href="/gongzuoriji/10.html" title="上千家网贷平台“主动清盘”，原因" >上千家网贷平台“主动清盘”，原因"</a></li>
<li><i></i><a href="/gongzuoriji/12.html" title="马蜂窝被“捅”背后：互联网江湖的" >马蜂窝被“捅”背后：互联网江湖的"</a></li>
<li><i></i><a href="/gongzuoriji/11.html" title="ofo变更法人，共享单车真到了洗牌的" >ofo变更法人，共享单车真到了洗牌的"</a></li>
<li><i></i><a href="/gongzuoriji/9.html" title="春节将至，诈骗又出新花招，“扫一" >春节将至，诈骗又出新花招，“扫一"</a></li>
<li><i></i><a href="/gongzuoriji/8.html" title="我走过最远的路就是余额宝体验金的" >我走过最远的路就是余额宝体验金的"</a></li>
<li><i></i><a href="/gongzuoriji/13.html" title="“运动健将”田宁和他的盘石潇洒领" >“运动健将”田宁和他的盘石潇洒领"</a></li>
<li><i></i><a href="/gongzuoriji/7.html" title="美团外卖乱局：商家不断退出，消费" >美团外卖乱局：商家不断退出，消费"</a></li>

      </ul>
    </div>
    <div class="whitebg tuijian">
      <h2 class="htitle">本栏推荐</h2>
      
      <ul>
        
      </ul>
    </div>
    <div class="ad whitebg imgscale">
      <ul>
        <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=3g0dcr18" target="_blank"><img src="static/picture/ad.jpg"></a>
      </ul>
    </div>
    <div class="whitebg cloud">
      <h2 class="htitle">标签云</h2>
      <ul>
        <a href='/tags.php?/%E4%BD%99%E9%A2%9D%E5%AE%9D/'>余额宝</a><a href='/tags.php?/%E7%BD%91%E8%B4%B7/'>网贷</a><a href='/tags.php?/%E7%94%B0%E5%AE%81/'>田宁</a><a href='/tags.php?/%E5%BC%80%E4%B8%9A%E5%85%B8%E7%A4%BC/'>开业典礼</a><a href='/tags.php?/%E6%8A%96%E9%9F%B3%E8%93%9DV/'>抖音蓝V</a><a href='/tags.php?/%E4%BB%93%E5%BA%93%E7%AE%A1%E7%90%86/'>仓库管理</a>
      </ul>
    </div>
    <div class="whitebg wenzi">
      <h2 class="htitle">猜你喜欢</h2>
      <ul>
        <li><a href="/gongzuoriji/9.html" title="春节将至，诈骗又出新花招，“扫一" >春节将至，诈骗又出新花招，“扫一"</a></li>
<li><a href="/gongzuoriji/8.html" title="我走过最远的路就是余额宝体验金的" >我走过最远的路就是余额宝体验金的"</a></li>
<li><a href="/gongzuoriji/13.html" title="“运动健将”田宁和他的盘石潇洒领" >“运动健将”田宁和他的盘石潇洒领"</a></li>
<li><a href="/gongzuoriji/7.html" title="美团外卖乱局：商家不断退出，消费" >美团外卖乱局：商家不断退出，消费"</a></li>
<li><a href="/gongzuoriji/11.html" title="ofo变更法人，共享单车真到了洗牌的" >ofo变更法人，共享单车真到了洗牌的"</a></li>
<li><a href="/gongzuoriji/10.html" title="上千家网贷平台“主动清盘”，原因" >上千家网贷平台“主动清盘”，原因"</a></li>
<li><a href="/gongzuoriji/12.html" title="马蜂窝被“捅”背后：互联网江湖的" >马蜂窝被“捅”背后：互联网江湖的"</a></li>

      </ul>
    </div>
    <div class="ad whitebg imgscale">
      <ul>
        <a href="https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=3g0dcr18" target="_blank"><img src="static/picture/ad02.jpg"></a>
      </ul>
    </div>
    <div class="whitebg tongji">
      <h2 class="htitle">站点信息</h2>
      <ul>
        <li><b>建站时间</b>：2019-02-24</li>
        <li><b>网站程序</b>：织梦CMS7.5</li>
        <li><b>主题模板</b>：《今夕何夕》</li>
        <li><b>文章统计</b>：38 篇 </li>
        <li><b>源码统计</b>：6 篇 </li>
        <li><b>微信公众号</b>：扫描二维码，关注我们</li>
        <img src="static/picture/wxgzh.jpg" class="tongji_gzh">
      </ul>
    </div>
  </div>
</article>
<footer>
  <div class="box">
    <div class="wxbox">
      <ul>
        <li><img src="static/picture/wxgzh.jpg"><span>微信公众号</span></li>
        <li><img src="static/picture/wx.png"><span>我的微信</span></li>
      </ul>
    </div>
    <div class="endnav">
      <p><b>站点声明：</b></p>
      <p>1、本站个人博客模板，均为叶清本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
      <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=2361928288@qq.com" target="_blank">2361928288@qq.com</a></p>
      <p>Copyright © 个人博客网站模板 All Rights Reserved. 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP09090899号</a></p>
    </div>
  </div>
  <a href="#">
  <div class="top"></div>
  </a>
</footer>
</body>
</html>
